/* Reset styles */
*,
html,
body,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: #444;
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
  height: 400px;
  width: 100%;
  background-color: rgb(104, 71, 117);
  background-color: rgb(155, 98, 118);
  background-image: url('./assets/joi-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 0 150px;
}

header img {
  margin-bottom: 20px;
}

h1 {
  font-size: calc(30px + 2vmin);
}

h2 {
  font-size: calc(16px + 2vmin) !important;
  color: rgb(104, 71, 117);
}


/* sections of perfume */
.perfume-display {
  padding: 2em;
  display: flex;
  min-height: 200px;
  font-size: 16px;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.bottle-size {
  color: rgb(116, 51, 129);
  background-color: rgb(255, 246, 250);
  width: fit-content;
  margin: 10px auto;
  padding: 5px 10px;
  border-radius: 2em;
}

.image-section {
  position: relative;
}

.image-section-image {
  margin-top: 10px;
}

.image-bg {
  height: 180px;
  width: 180px;
  background-color: rgb(247, 197, 180);
  border-radius: 20px 20px 60px 0;
  position: absolute;
  z-index: -1;
  left: calc(50% - 90px);
}


/* other colections */
.other-collection {
  width: 100%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  background-image: url('./assets/other.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.other-collection p {
  width: fit-content;
  background-color: rgb(104, 71, 117);
  padding: 1em 2em;
  color: #fff;
  border-radius: 2em;
  text-align: center;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.other-collection p>span {
  margin-left: 1em;
}

.dice{
  margin: 2em auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px solid rgba(102, 51, 153, 0.455);
  padding-bottom: 2em;
}
.dice p{
  font-size: 4em;
  font-weight: bold;
  border-radius: 12px;
  padding: 0.5em 1em;
  border: 1px solid rebeccapurple;
  margin: 0.5em auto;
}
.dice button{
  padding: 1em;
  border-radius: 1em;
  border: none;
  background-color: gold;
  min-width: 120px;
  cursor: pointer;
}
.dice button:hover{
  background-color: orange;
}

.keys {
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
}

.keys input {
  flex: 1;
  padding: 5px;
  margin: 0.22em;
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#calculator-wrapper {
  margin-top: 1em;
  max-width: 360px;
}

#screen {
  width: 100%;
  padding: 0.5em;
  background-color: rgb(242, 229, 255);
  border: none;
  height: 60px;
  display: block;
  margin: 1em auto;
}

form {
  background-color: rgb(45, 0, 67);
  height: 360px;
  padding-top: 1em;
  width: 80%;
}

fieldset {
  height: 310px;
  border: none;
  padding: 1em;
}

legend {
  color: hotpink;
}

@media (min-width: 520px) {
  form {
    width: 480px;

  }
}
footer {
  text-align: center;
  padding: 1em;
  font-size: 1.4rem;
}

@media all and (min-width:767px) {

  /* sections of perfume */
  .perfume-display {
    flex-direction: row;
    text-align: start;
    justify-content: center;
    align-items: center;
  }

  .bottle-size {
    margin: 10px 0;
  }

  #display1 .image-section {
    position: relative;
    margin-left: 50px;
  }

  #display2 .image-section {
    position: relative;
    /* margin-right: 50px; */
  }

  #display3 .image-section {
    position: relative;
    margin-left: 50px;
  }

  #display4 .image-section {
    position: relative;
    /* margin-left: 50px; */
  }

  .image-section-image {
    margin-top: 10px;
  }

  #display2,
  #display4 {
    flex-direction: row-reverse;
  }

  #display1,
  #display3 {
    text-align: end;
  }

  #display1 .bottle-size,
  #display3 .bottle-size {
    text-align: end;
    float: right;
  }

  .image-bg {
    height: 180px;
    width: 180px;
    background-color: rgb(247, 197, 180);
    border-radius: 20px 20px 60px 0;
    position: absolute;
    z-index: -1;
    left: calc(50% - 90px);
  }

  .other-collection {
    height: 400px;
  }

  .other-collection h2 {
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 2em;
  }
}

@media all and (min-width:1200px){
  main{
    width: 1200px;
    margin: 0 auto;
  }
}